.wrapper {
  background-color: var(--green);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}
.netForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  width: 50%;
  margin: 0.75rem 0;
  padding: 0.5rem;
  color: #f1f1f1;
}
.input::placeholder {
  color: #f1f1f1;
  font-size: 0.8em;
}